{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1 class="mt-4 text-center fw-semibold"> Welcome to API-News</h1>
         <form class="form-inline justify-content-center mb-5" role="search" method="get" action="/">
            <input class="form-control me-2" type="text" name="query"  value="{{query}}" placeholder="Search for news here..." aria-label="Search"/>
            <button id="search-btn" class="btn btn-primary" type="submit">Search</button>
        </form>
        <div class="row">
            {% for article in articles %}
                <div class="col-xl-3 col-md-6">
                    <div class="card mb-4 news-article">
                        {% if article.urlToImage %}
                        <img src="{{ article.urlToImage }}" alt="picture" class="card-img-top">
                        {% else %}
                        <img src="https://img.magnific.com/darmowe-wektory/tekst-grunge-wiadomosci_460848-9369.jpg?semt=ais_hybrid&w=740&q=80" alt="picture" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h5>
                            <p class="card-text">{{ article.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}